<header class="header">
  <nav class="navbar">
    <ul>
      <li id="liAtt" (click)="attAluno()">Atualizar Aluno</li>
      <li id="liAdc" (click)="adcAluno()">Adicionar Aluno</li>
      <li id="liExc" (click)="excAluno()">Excluir Aluno</li>
    </ul>
  </nav>
</header>

<main>

  <app-home></app-home>

  <ng-container *ngIf="att">
    <form class="form-principal" [formGroup]="dadosAtualizar">
      <input
        class="inputForm"
        type="number"
        name="idAluno"
        id="attId"
        placeholder="Id do Aluno"
        [(ngModel)]="idAlunoInputAtt"
        formControlName="idAlunoInputAtt"
      />
      <input
        [(ngModel)]="nomeAlunoInputAtt"
        class="inputForm"
        type="text"
        name="nomeAluno"
        id="attNome"
        placeholder="Nome Do Aluno"
        formControlName="nomeAlunoInputAtt"
      />
      <input
        class="inputForm"
        type="text"
        name="serieAluno"
        id="attSerie"
        placeholder="Série Do Aluno"
        [(ngModel)]="serieAlunoInputAtt"
        formControlName="serieAlunoInputAtt"
      />
      <input
        class="inputForm"
        type="text"
        name="matriculaAluno"
        id="attMatricula"
        placeholder="Matricula Do Aluno"
        [(ngModel)]="matriculaAlunoInputAtt"
        formControlName="matriculaAlunoInputAtt"
      />
      <button [disabled]="dadosAtualizar.invalid" class="btn" type="button" (click)="atualizarAluno()">
        Atualizar
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="adc">
    <form class="form-principal" [formGroup]="dadosAdicionar">
      <input
        [(ngModel)]="nomeAlunoInput"
        class="inputForm"
        type="text"
        name="nomeAluno"
        id="adcNome"
        placeholder="Nome Do Aluno"
        formControlName="nomeAlunoInput"
      />
      <input
        [(ngModel)]="serieAlunoInput"
        class="inputForm"
        type="text"
        name="serieAluno"
        id="adcSerie"
        placeholder="Série Do Aluno"
        formControlName="serieAlunoInput"
      />
      <input
        [(ngModel)]="matriculaAlunoInput"
        class="inputForm"
        type="text"
        name="matriculaAluno"
        id="adcMatricula"
        placeholder="Matricula Do Aluno"
        formControlName="matriculaAlunoInput"
      />

      <button [disabled]="dadosAdicionar.invalid" class="btn" type="button" (click)="adicionarAluno()">
        Adicionar
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="exc">
    <form class="form-principal" [formGroup]="dadosDelete">
      <input
        [(ngModel)]="idAlunoInput"
        formControlName="idAlunoInput"
        class="inputForm"
        type="number"
        id="excId"
        placeholder="Id do Aluno"
      />
      <button
        class="btn"
        type="button"
        (click)="excluirAluno()"
        [disabled]="dadosDelete.invalid"
      >
        Excluir
      </button>
    </form>
  </ng-container>
</main>
